Source: leap
Section: devel
Priority: optional
Maintainer: Joel Emer <emer@csail.mit.edu>
Build-Depends: debhelper (>= 7), autotools-dev, libqt3-mt-dev
Standards-Version: 3.7.2

Package: leap
Architecture: all
Depends: leap-14.08
Recommends: leap-13.06
Description: Dependency package for Leap FPGA environment
 Dependency package for the Leap FPGA environment
Section: devel

Package: leap-14.08
Architecture: any
Depends: leap-bin, ${misc:Depends}
Description: Sharable package for the LEAP
 AWB modules for the logic-based environment for application programmaing (leap)
Section: devel

Package: leap-bin
Architecture: any
Depends: leap-platforms, asim-core, asim-core-dev, awb, ${perlqt:Depends}, libterm-readline-gnu-perl, libio-pty-perl, python-pygraph, libtbb-dev, ${misc:Depends}
Replaces: leap (<= 0.6.0)
Breaks: leap (<= 0.6.0)
Description: Executables for the LEAP FPGA environement
 Core executables for LEAP FPGA environment
Section: devel

